h2{
    margin: 20px 0 20px 20px;
    font-size: 22px;
}
.info{
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
}
.task{
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8px;
}
.task-name{
    font-size: 18px;
    width: 100px;
    word-wrap: break-word;
}
.completed .task-name{
    text-decoration: line-through;
}
.pending-button{
    border-radius: 5px;
    border-color:transparent;
    background-color: rgba(0, 128, 0, 0.438);
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-left: -20px;
    font-size: 16px;
}
.pending-button:hover{
    background-color: rgb(46, 255, 116);
    box-shadow: 0 0 10px rgb(46, 255, 81);
} 
.completed-text{
    border-radius: 5px;
    border-color:transparent;
    background-color: rgba(0, 128, 0, 0.438);
    padding: 4px;
    color: white;
    margin-left: -20px;
}
.icon-delete{
    border-radius: 10px 10px 14px 14px;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    margin-right: 8px;
}