body{
  margin: 0;
  padding: 0;
  background-color: #F9F0EF;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
header{
  background-image: linear-gradient(to right, #604687, #526395);
  text-align: center;
  width: 600px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px -3px 5px 1px rgba(0,0,0,0.58);
  margin-top: 40px;
}
header h1{
  color: white;
  font-weight: lighter;
}
main{
  background-color: #F7F7FF;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.58);
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
main section{
  background-color: #FFFFFF;
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.58);
  border-radius: 10px;
  margin: 4px;
} 
.container-taskForm{
  text-align: center;
  position: relative; 
  top: -4rem; 
}
.container-taskList{
  position: relative; 
  top: -2rem;
}